
  
  .tipe {
    text-align: center;
    font-family: cursive;
    color: white;
  }
  
  #team {
    display: flex;
    width: 600px;
    height: 430px;
    align-items: center;
    height: 60%;
    width: 50%;
  }
  
  #team img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
  }
  
  #team img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  }
  